nav.navbar {
    box-shadow: 0 0px 15px rgba(0,0,0,0.2);
    background-color: #fff;
}
#navbarSupportedContent {
    justify-content: flex-end;
}
a.navbar-brand img {
    width: 150px;
}
ul.navbar-nav {
    align-items: center;
}
ul.navbar-nav li {
    border-left: 2px solid #E0E0E0;
    padding: 10px 20px;
    line-height: 20px;
}
ul.navbar-nav li img {
    display: inline-block;
    position: relative;
    top: -2px;
}
ul.navbar-nav li a {
    color: #028EB2 !important;
    display: inline-block;
    font-weight: 400;
}

@media only screen and (max-width: 576px) {
    ul.navbar-nav{
        align-items: flex-start;
    }
    ul.navbar-nav li {
        border-left: 0px;
    }
}