<!-- banner section starts here -->
<section class="banner">
    <img src="../../assets/images/collage.png" class="img-fluid" alt="banner-collage">
    <div class="container">
        <div class="row text-center">
            <div class="banner-content p-2">
                <h1> Welcome to Abc Wrap </h1>
                <p>
                    For contractors, project owners, and developers, Abc is the market leader in owner and contractor
                    wrap-up programs as well as wrap up bonding and other home building insurance products and risk
                    assessment
                    services.
                </p>
                <p>
                    We field the largest and most trusted network of construction experts anywhere in the world - a team
                    of professionals covering every major sector of the industry.
                </p>
                <a class="scroller d-block">
                    <img src="../../assets/images/Scroller.png" alt="scroller" />
                </a>
            </div>
        </div>
    </div>
</section>
<!-- banner section ends here -->

<!-- login form section start here -->
<section class="loginFormSection text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="request-info">
                    <h3> 
                        <span> Abc Wrap Up Links </span> 
                    </h3>
                    <div class="links">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <img src="../../assets/images/dolor.svg" alt="dolor" />
                                <p> Wrap up 101 </p>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <img src="../../assets/images/user.svg" alt="dolor" />
                                <p> Office Location Map </p>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <img src="../../assets/images/filling.svg" alt="dolor" />
                                <p> Electronic Filing of Wrap Up Bonds </p>
                            </div>
                        </div>
                    </div>
                    <div class="reqt-info">
                        <a href="#"> Request Information </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="login-form">
                    <img src="../../assets/images/logo.png" alt="logo" />
                    <h3 class="text-uppercase"> Login </h3>
                    <form [formGroup]="loginForm">
                        <input type="text" placeholder="Username" formControlName="username" />
                        <input type="password" placeholder="Password" formControlName="password" />
                        <div class="buttons">
                            <a href="#"> Forgot your password? </a>
                            <button type="button" class="btn btn-primary btn-sm" [disabled]="!loginForm.valid" 
                            (click)="onSubmit(loginForm)"> Login </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- login form section ends here -->


<!-- industry links start here -->
<section class="industry-link-section text-center">
    <div class="container-fluid">
        <h2> Industry Links </h2>
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-3">
                <div class="single-link">
                    <a href="#">
                        <img src="../../assets/images/best.png" class="img-fluid" alt="links" />
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
                <div class="single-link">
                    <a href="#">
                        <img src="../../assets/images/cashea.png" class="img-fluid" alt="links" />
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
                <div class="single-link">
                    <a href="#">
                        <img src="../../assets/images/moody.png" class="img-fluid" alt="links" />
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
                <div class="single-link">
                    <a href="#">
                        <img src="../../assets/images/fitch.png" class="img-fluid" alt="links" />
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
                <div class="single-link">
                    <a href="#">
                        <img src="../../assets/images/sp.png" class="img-fluid" alt="links" />
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
                <div class="single-link">
                    <a href="#">
                        <img src="../../assets/images/thesurety.png" class="img-fluid" alt="links" />
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
                <div class="single-link">
                    <a href="#">
                        <img src="../../assets/images/sio.png" class="img-fluid" alt="links" />
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
                <div class="single-link">
                    <a href="#">
                        <img src="../../assets/images/fiscal.png" class="img-fluid" alt="links" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- industry links ends here -->

<!-- new and highlights section starts here -->
<section class="news-highlight-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <div class="professional-insight">
                    <h3> Professional Insights </h3>
                    <img class="img-fluid" src="../../assets/images/covid19.png" alt="covid19" />
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="professional-insight">
                    <h3> News and Highlights </h3>
                    <ul>
                        <li>
                            <a href="#"> 2020 April Wrap Up Market Update - Contract </a>
                        </li>
                        <li>
                            <a href="#"> SDI COVID-19 </a>
                        </li>
                        <li>
                            <a href="#"> Wrap Up Market Update </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- new and highlights section ends here -->